@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1E1E1E;
  color: #D4D4D4;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}